.fc-event-skin .actions ul, .fc-event-skin .actions ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fc-event-skin .actions.day ul li {
    padding: 4px;
    margin: 2px;
    display: inline-block;
}

.fc-event-skin .actions.day {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #36C;
    border-left: 2px solid #36C;
    border-right: 2px solid #36C;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 3;
}

.fc table.fc-header .center {

}

.fc table.fc-header .right {
    float: right;
}

.fc table.fc-header .left > div {
    display: inline-block;
}

.fc .fc-button-month .fc-button {

}

.fc .fc-button .fc-button-inner {
    padding: 2px;
}

.fc  .fc-button-inner .fc-button-content {
    padding-left: 18px;
}

.fc-button span {
    padding-left: 20px;
}

.fc .fc-button-month span {
    background: transparent url(images/cal-month.gif) no-repeat scroll 0 50%;
}

.fc .fc-button-agendaWeek span {
    background: transparent url(images/cal-week.gif) no-repeat scroll 0 50%;
}

.fc .fc-button-today span {
    background: transparent url(images/date.png) no-repeat scroll 0 50%;
}

.fc .fc-button-agendaDay span {
    background: transparent url(images/cal-day.gif) no-repeat scroll 0 50%;
}

.fc .fc-button-newevent span {
    background: transparent url(images/date_add.png) no-repeat scroll 0 50%;

}

.fc .fc-button-refresh span {
    background: transparent url(images/view-refresh.png) no-repeat scroll 0 50%;
}

.fc-button-next span, .fc-button-prev span {
    padding: 0;
}